main {
    max-width: 140ch;
    padding: 0 0.75rem;
    margin-bottom: 3rem;
    margin-inline: auto;
}

.small {
    font-size: clamp(1.05rem, 1.75vw, 1.175rem);
}
.large {
    font-size: clamp(1.375rem, 2.25vw, 1.625rem);
}

.headline.small {
    padding: 0.5rem 0.375rem;
}
.headline.large {
    padding: 0.75rem 0.5rem;
}
.headline:not(:first-child) {
    border-top: var(--border);
}

.thumbnail {
    padding: 0.375rem;
}
.thumbnail img {
    width: 100%;
    max-height: 16rem;
    object-fit: cover;
}
.thumbnail.small {
    border: var(--border);
    margin-bottom: 0.325rem;
}
.thumbnail.small figure {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
}
.thumbnail.large {
    margin-bottom: 1.5rem;
}

@media (width >= 45rem) {
    main {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
}

@media (width >= 60rem) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .thumbnail.small img {
        max-height: 12rem;
    }
    .thumbnail.small figure {
        display: block;
    }
    .thumbnail.large {
        grid-column: auto / span 2;
    }
    .thumbnail.large figure {
        display: grid;
        grid-template-columns: 5fr 4fr;
        gap: 1rem;
    }
}