:root {
	--clr-neutral-50: #f6f6f6;
	--clr-neutral-100: #e1e1e1;
	--clr-neutral-500: #626262;
	--clr-neutral-800: #181818;
	--clr-primary-600: #713804;

	--border: 0.175rem solid var(--clr-neutral-500);
}

body {
	background-color: var(--clr-neutral-100);
	color: var(--clr-neutral-800);
	font-family: 'Lora', sans-serif;
}

a {
	color: var(--clr-neutral-800);
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: var(--clr-primary-600);
}

img::before {
	background-color: var(--clr-neutral-500);
	display: block;
	padding: 0.5rem;
}